body {
    font-family: Segoe UI, Segoe WP, Tahoma, Arial, sans-serif;
    font-size: 1.35rem;
    background-color: lavender;
}

.divBlock {
    display: block;
    padding: 45px;
}

.choix {
    background-color: aliceblue;
    border-radius: 15px 0px 15px 0px;
    box-shadow: #3428a3 3px 1.5px;
    margin: 20px 0px;
    padding: 20px 50px;
}

.zoneQuestion {
    background: white;
    opacity: .90;
    padding: 20px 30px 60px;
}

.zonePage {
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.zoneQuiz {
    display: block;
    width: 85%;
}

@media screen and (max-width: 800px) {
    .zonePage {
        margin-top: 30px;
    }

    .zoneQuiz {
        width: 95%
    }

    body {
        font-size: 1.28rem;
    }

    .divBlock {
        padding: 32px 44px;
    }

    .choix {
        border-radius: 10px 0px 10px 0px;
        box-shadow: #3428a3 2px 1px;
        margin: 15px 0px;
        padding: 15px 42px;
    }

    .zoneQuestion {
        padding: 15px 25px 40px;
    }
}

@media screen and (max-width: 600px) {
    .zonePage {
        margin-top: 0px;
    }

    .zoneQuiz {
        width: 100%
    }

    body {
        font-size: 1.15rem;
    }

    .divBlock {
        padding: 25px 35px;
    }
}

.zoneTitre {
    background-color: #3428a3;
    color: white;
    font-size: 1.5em;
    border-radius: 45px 45px 0 0;
}

.zonePointage {
    background-color: #f4f4f4;
    color: #03787c;
}

.zoneHorloge {
    background-color: #3428a3;
    color: white;
    font-size: 1.25em;
    text-align: center;
    border-radius: 0 0 45px 45px;
}

.textPointage {
    display: inline-block;
    float: right;
    margin-top: -0.7em;
}


#numero,
#total,
#points {
    color: black;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

span {
    word-wrap: break-word;
    margin: 5px;
    line-height: 140%;
}


.good {
    background-color: greenyellow;
    box-shadow: green;
}

.bad {
    background-color: pink;
    box-shadow: red;
}

.light:hover {
    background-color: #FAFFFF;
}

#minutes,
#secondes {
    color: white;
}

#deuxpoints {
    color: white;
    animation: clignote 1s linear infinite;
}

@keyframes clignote {
    0% {
        opacity: 100%;
    }

    45% {
        opacity: 100%;
    }

    50% {
        opacity: 0;
    }

    95% {
        opacity: 0;
    }
}